/frontend/node_modules
/backend/node_modules
/frontend/components/test.html
/frontend/src/components/BurgerIcon.js
/frontend/src/components/reducers/counter.js
/frontend/src/components/reducers/isLogged.js
/frontend/src/components/reducers/index.js