@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Work+Sans:wght@400;600&display=swap");

.nav-container {
  display: block;
  position: relative;
  padding-top: 1rem;
  max-width: 375px;
  height: 667px;
  /* background-color: rgba(0, 0, 0, 0.324); */
  z-index: 1;
  width: 100%;
}

.navigation-container {
  /* background: url(../assets/graphics-header.svg) top no-repeat #f3e4e1; */
  /* min-height: 7rem; */
  position: fixed;
  width: 375px;
}

.open {
  background-color: #2f2926;
  position: fixed;
  width: 375px;
}

.nav-items {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  align-self: flex-start;
}

.menu ul {
  list-style: none;
}

/* 
.closed {
  display: none;
} */

.menu ul li {
  text-decoration: none;
}

.menu-icons {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  position: relative;
}

.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2926;
  /* padding: 1.5rem; */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
}

.navicon {
  max-width: 4rem;
}

.closed {
  z-index: 200;

  display: none;
}

.menu-items {
  list-style-type: none;
  justify-self: center;
  margin-block-start: 0;
  padding-inline-start: 0;
  background-color: #2f2926;
  color: white;
  text-decoration: none;
  font-size: 32px;
  padding-top: 10rem;
  height: 590px;
}

.menu-title {
  color: white;
}

.aside-cart-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #e5674e;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 12px;
  font-family: "PT Serif", serif;
}
